// _newsletter.scss
.newsletter-container {
    position: relative;
    margin: 20px;
    margin-top: 20px;
  }
  
  .input-email-news {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    background-color: transparent;
    margin-left: -25px;
  
    &:focus + .input-label-news  {
      top: -10px;
      left: -20px;
      font-size: 12px;
      color: #725757;
    }
  
    &:focus + .input-label-news  + .input-color {
      width: 100%;
    }
  }
  
  .input-label-news {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    color: rgba(204, 204, 204, 0);
    pointer-events: none;
    @include transition(all, 0.3s, ease);
  }
  
  .input-color {
    position: absolute;
    bottom: 0;
    left: -23px;
    height: 2px;
    width: 0;
    background-color: #725757;
    @include transition(all, 0.3s, ease);
  }