// _variables.scss
$primary-color: #FFEAE3;
$secondary-color: #000;
$highlight-color: #E91E63;
$input-background: #f3f3f4;
$input-hover-border: rgba(234, 76, 137, 0.4);
$input-hover-shadow: rgba(234, 76, 137, 0.1);
$placeholder-color: #9e9ea7;

$font-family: 'Poppins', sans-serif;
$font-color: #000;
$font-light: 200;
$font-medium: 600;
$font-bold: bold;

$highlight-color-instagram: #cd486b;
$background-white: #fff;
$form-border-color: rgba(0, 0, 0, 0.2);
$form-focus-color: #000;
$button-background: #3366cc;
$button-hover-background: #27408b;
$highlight-color-faq: #FFEAE3;
$highlight-color-product-sale: #e74c39;
$button-background-color: #FFEAE3;
$button-text-color: black;
$border-color: #c0c0c0;